//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 01 18:21:10 2018
//! **************************************************************************

SCHEMATIC START;
NET "osc_BUFGP/IBUFG" BEL "osc_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

